* {
    padding: 0;
    margin: 0;
}

.nav {
    margin: auto;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.nav-item {
    text-decoration: none;
    color: #333;
    padding: 7px 18px;
    border-radius: 15px;
    transition: background-color 0.3s ease;

}

.nav-item.active {
    background-color: #ffe0e0;
    /* 类似截图中百科按钮的背景色，可根据需要调整 */
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-item:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box {
    width: 1080px;
    margin: 30px auto;
    /* background-color: #9f6565; */
}

.cat {
    width: 450px;
    margin: 0 auto;
    /* background-color: #98cefa; */
}

.mini-intro {
    display: flex;
}

.mini-intro ul {
    width: 250px;
    list-style-type: square;
    /* 实心方块 */
    background-color: #FDE9B1;
    margin-top: 30px;
    padding-left: 30px;
}

.mini-intro ul li::marker {
    color: #ffcc40;
    font-size: 2em;
}

.image {
    width: 200px;
    height: 150px;
    background-color: #f7baba;
    /* float: right; */
}

.cat-ch {
    width: 450px;
    margin: 30px auto;
    /* background-color: #FDE9B1; */
}

.cat-ch ul {
    list-style: none;
    /* background-color: #ffb1b1; */
    display: flex;
    justify-content: space-around;
}

.cat-ch ul li a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

.cat-ch ul li img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.intro {
    width: 550px;
    margin: 60px auto;
    text-align: center;
}

.intro .title {
    display: block;
    margin-bottom: 30px;
}

.graph {
    width: 300px;
    height: 200px;
    margin: 10px auto;
    /* background-color: #FDE9B1; */
}


.total {
    margin-top: 60px;
}

.intro ul {
    list-style: none;
}


.intro ul li p {
    /* text-align: left; */
    text-indent: 2em;
    line-height: 30px;
    letter-spacing: 1px;
}